@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-200 text-black;
  }

  h1 {
    @apply text-5xl font-extrabold;
  }

  h2 {
    @apply font-bold text-gray-700 text-3xl;
  }

  p,
  a {
    @apply text-lg text-gray-500;
  }
}

@layer components {
  .title-gradient {
    @apply bg-gradient-to-r from-blue-400 via-blue-800 to-blue-600 bg-clip-text text-transparent;
  }

  .btn-primary {
    @apply bg-gray-100 rounded-lg text-gray-500 font-bold py-3 px-4 
    whitespace-nowrap hover:bg-blue-600 hover:text-white 
    transition duration-300 shadow-lg
    hover:scale-105;
  }
}

@layer utilities {
  .blur-bg {
    background-color: rgba(
      226,
      232,
      240,
      0.6
    ); /* Set the background color with transparency */
    backdrop-filter: blur(8px); /* Add a blur filter to the navbar */
  }
}
