@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(6, 182, 212, 0.3);
  }
}

@layer components {
  .title-gradient {
    @apply bg-gradient-to-r from-blue-700 via-cyan-500 to-green-400 bg-clip-text text-transparent;
  }

  .btn-primary {
    @apply whitespace-nowrap rounded-lg bg-gray-100 px-4 py-3 font-bold 
    text-gray-500 shadow-lg transition 
    duration-300 hover:scale-105 hover:bg-blue-600
    hover:text-white;
  }
}

@layer utilities {
  .blur-bg {
    background-color: rgba(
      226,
      232,
      240,
      0.6
    ); /* Set the background color with transparency */
    backdrop-filter: blur(8px); /* Add a blur filter to the navbar */
  }
}
